<div id="dashboard-body">

  {{#each posts as |post|}}

    <div class="dashboard-post">
      <a href="/post/{{post.id}}">
        <h2>{{post.title}}</h2>
      </a>
      <h2> 
        {{format_date post.date_created}} 
      </h2>
    </div>

  {{/each}}
  <a href="/dashboard/new" class="button">New Post</a>
</div>