<div class="login-body">
<section class="login-form">
  <div class="login-head">
    <h1>WELCOME BACK</h1>
    <h2>LOGIN TO SEE POSTS</h2>
    <svg class="svg-bar" width="433" height="3" viewBox="0 0 433 3" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0.5 1.5H432.5" stroke="black" stroke-width="2"/>
    </svg>
  </div>
  <form action="" id="login-form">
    <div class="int-area">
      <input type="text" name="email-login" id="email-login" autocomplete="off" required>
      <label for="email-login">EMAIL ADDRESS</label>
    </div>
    <div class="int-area">
      <input type="password" name="password-login" id="password-login" autocomplete="off" required>
      <label for="password-login">PASSWORD</label>
    </div>
    <div class="btn-area">
      <button type="submit">LOGIN</button>
    </div>
  </form>
  <div class="signup-foot">
  <h2>DON'T HAVE AN ACCOUNT?</h2>
  <a href="/signup">SIGN UP</a>
  </div>
</section>
</div>

<script src="/js/login.js"></script>