<div class="new-post">
    <h2>Create New Post</h2>
    <div class="card-body">
      <form class="new-post-form">
        <div class="input-spacing">
          <label for="input-title">Title</label>
          <input
            type="text"
            class="form-control"
            id="input-title"
            placeholder="Title"
          />
        </div>
        <div class="input-spacing">
        <div class="content-form">
          <label for="post-body">Content</label>
          <textarea id="post-body" name="post-body"></textarea>
        </div>
        </div>
        <div class="input-spacing">
          <button type="submit" class="submit-button">Post</button>
        </div>
      </form>
    </div>
</div>

<script src="/js/new-post.js"></script>