<div class="signup-body">
<section class="signup-form">
  <div class="signup-head">
    <h1>WELCOME WARRIOR</h1>
    <h2>CREATE AN ACCOUNT TO TALK TECH</h2>
    <svg class="svg-bar"width="433" height="3" viewBox="0 0 433 3" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0.5 1.5H432.5" stroke="black" stroke-width="2"/>
    </svg>
  </div>
  <form action="" id="signup-form">
    <div class="int-area">
      <input type="login" name="email-signup" id="email-signup" autocomplete="off" required>
      <label for="email-signup">EMAIL ADDRESS</label>
    </div>
    <div class="int-area">
      <input type="password" name="password-signup" id="password-signup" autocomplete="off" required>
      <label for="password-signup">PASSWORD</label>
    </div>
    <div class="btn-area">
      <button type="submit">SIGN UP</button>
    </div>
  </form>
  <div class="signup-foot">
    <h2>ALREADY HAVE AN ACCOUNT?</h2>
    <a href="/login">SIGN IN</a>
  </div>
</section>
</div>

<script src="/js/signup.js"></script>